/* BODY */
body{
	background-image: url("../images/small_steps.png");
}

/* NAVBAR */
div.nav_container{
	position: fixed;
	top: 0px;
	display: block;
	background-color: rgba(51, 51, 51, 0.8);
	width: 100%;
	z-index: 1;
}

ul.navbar{
	list-style: none;
	display: block;
	overflow: auto;
	font-family: "Bungee Shade", regular;
	width: 960px;
	padding: 4px;
	margin: 0px auto;
}

li.navitem_title{
	float: left;
	display: block;
	padding: 8px;
}

li.navitem_title h1{
	font-size: 32px;
	color: white;
}

li.navitem_right{
	float: right;
	display: table-cell;
	vertical-align: middle;
	line-height: 32px;
}

li.navitem_right a{
	font-size: 22px;
	display: block;
	padding: 8px;
	color: white;
	text-decoration: none;
}

li.navitem_right a:link{
	color: white;
}

li.navitem_right a:hover{
	color: rgba(219, 255, 118, 1);
}

li.navitem_right a:active{
	color: #E6AA68;
}

#portfolio {
	border-left: thin solid white;
}

#contact {
	border-left: thin solid white;
}

/* MAIN CONTENT */
div.main_content_area{
	clear: both;
	margin: 0px auto;
	width: 960px;
	overflow: auto;
}

div.main_content_area h1{
	font-family: "Bungee Shade", regular;
	font-size: 28px;
	color: #333333;
	padding-top: 8px;
	padding-left: 8px;
}

div.main_content_area hr{
	margin:8px 8px 0px 8px;
}

div.main_content_area div.content_section{
	float: left;
	width: 650px;
	border: thin solid #333333;
}

div.main_content_area div.sidebar{
	float: right;
	width: 270px;
	border: thin solid #333333;
}

div.main_content_area div.sidebar h1{
	font-family: "Bungee Shade", regular;
	font-size: 28px;
	color: #333333;
	padding-top: 8px;
	padding-left: 8px;
}

div.main_content_area p{
	 font-family: 'Open Sans', sans-serif;
	 font-size: 18px;
	 color:#333333;
}

div.textbox{
	background-color:rgba(255, 255, 255, 0.6);
	overflow:auto;
	padding:8px;
	max-width: 650px;
}

div.textbox_left{
	background-color:rgba(255, 255, 255, 0.6);
	overflow:auto;
	padding:8px;
	text-align: left;
}

img.social_icon{
	width:15%;
	height: 15%;
	opacity: 0.8;
}

div.fancy_link{
	background-color: #5A5A5A;
	font-family: 'Bungee Shade', regular;
	text-decoration: none;
	color: white;
	padding: 8px;
	margin-top: 8px;
	font-size: 22px;
}

div.fancy_link:hover{
	color: rgba(219, 255, 118, 1);
}

div.fancy_link:active{
	color: #E6AA68;
	text-decoration: none;
}

#whatsUp{
	margin-top: 40px;
}

div.push{
	height: 90px;
}

.footer{
	font-family: "Bungee Shade", regular;
	font-size: 22px;
	color: white;
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	padding: 8px;
	background-color: rgb(51, 51, 51);
}

img.portfolio_item{
	width:90%;
	height:auto;
	margin: 0px 8px;
	margin-bottom: 8px;
	border: 5px solid #333333;
}

td.form_label{
	padding: 8px 8px;
}

td.form_input input{
	margin: 0px 8px;
	width: 100%;
	vertical-align: top;
}

td.form_input textarea{
	margin: 0px 8px;
	width: 100%;
	vertical-align: top;
}